/* Style.css */
body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.header {
    background-color: rgb(64, 134, 226);
    color: white;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    background-color: rgb(64, 134, 226);
    color: white;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

.right {
    float: right;
  }
  
  .left {
    display: inline-block;
  }
  
  .square {
    background-color: white;
    
  }
  
  .color {
    background-color: black;
    
  }
  
  .gridContainer {
    margin-top: 25px;
    margin-right: 40px;
    display: inline-grid;
    grid-template-columns: repeat(16,2fr);
    grid-template-rows: repeat(16, 2fr);
    border: 5px solid black;
    border-radius: 5px;
    height: 575px;
    width: 575px;
  }